@import"../componentes/variables.scss";

.content
{
    padding: 1rem;
}

.feelin
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0rem 1rem 0rem;
    @media only screen and (max-width: 768px) {
        font-size: 100%;
        @media only screen and (max-width: 420px) {
            font-size: 80%;
            @media only screen and (max-width: 360px) {
                font-size: 60%;
            }
        }
    }
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    border: solid;
    border-radius: 0.25rem;
    border-color: $color-naranjafeelin;
    background-color: $color-salmonfeelin;
}
.antojos{
    font-weight: bold;
}

.productos{
    margin: 2rem;
}

$productos:(
    alfajorcitos: #FFE300,
    alfajorcitosRogel: #FF7800,
    cookies: #52dc1b,
);

@each $prod, $color in $productos {
    .#{$prod}{
        color:$color;
    }
}

article{
    display: flex;
    flex-direction: column;
    position: inherit;
}

#carouselExampleCaptions{
    display: flex;
    width: 40%;
}

.inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgNosotros{
    border:solid;
    border-radius: 2rem;
    border-width: thick;
    border-color: $color-naranjafeelin;
}

body{
    .background{
        background-image: url("../../imagenes/Background.jpg");
        background-size: 100%;
    }
}

.linkRecetas{
    font-size: 0.75rem;
}

.brownieVegano{
    border: solid;
    border-color: $color-naranjafeelin;
    border-width: thick;
    border-radius: 2rem;
}

.fotoProductos{
    height: 10rem;
    width: 15rem;
    border-radius: 2rem;
}

.preguntas{
    padding:2rem;
}

.respuesta{
  padding: 2rem;
  margin: 0rem 1rem 2rem 1rem;
}
.fotosPreguntas{
    padding: 1rem;
}
.botonesPreguntas{
   .btn {
    margin: 1rem 3rem 1rem 3rem;
   } 
}