@import"../componentes/transformaciones.scss";
@import"../componentes/variables.scss";

.navbar-brand{
    display: flex;
    align-items: center;
    position: relative;
    height: 2rem;
    .rounded-circle{
        width: 7rem;
        height: 7rem;
        margin-top: 3rem;
        margin-right: 1rem;
        overflow-y: visible;
        animation-name: rotacion;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        animation-duration: 1s;
        animation-delay: 0.5s;
    }
    h1{
        &:hover{
            color: $color-naranjafeelin;
        }
    }
}
header{
    display: flex;
    width: 100%;
}


