.navbar-brand{
    display: flex;
    align-items: center;
    position: relative;
    height: 2rem;
    img{
        width: 7rem;
        height: 7rem;
        margin-top: 3rem;
        margin-right: 1rem;
        position: inherit;
        overflow-y: visible;
    }
}
header{
    display: flex;
    width: 100%;
}